<h1>Editing Pet Listing</h1>

<%= render 'form', pet_listing: @pet_listing %>

<%= link_to 'Show', @pet_listing, :class => "btn btn-primary btn-sm" %> <%= link_to 'Back', pet_listings_path, :class => "btn btn-primary btn-sm" %>