<h1>Editing Pet Listing</h1>

<%= render 'form', pet_listing: @pet_listing %>

<%= button_to 'Show', @pet_listing, :method => :get,  :class => "btn btn-blue btn-lg"%>
<%= button_to 'Back', pet_listings_path, :method => :get,  :class => "btn btn-warning btn-lg"%>
