// For the show file

body{
   padding: 25px;
   font-family: 'Arial', sans-serif;
   font-size: 18px;
   background-color: black
}

p{
  color: white
}

h1 {
 padding-bottom: 15px;
}

.alert {
 margin-top: 25px;
}

// For the index file
// For the new file
// For the edit file
// For the form file
