/* app/assets/stylesheets/application.scss */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body.dark-mode {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.card.dark-mode {
  background-color: #282828;
  color: #e6e6e6;
  border-color: #474747;
}

$white: black;
$black: white;

.navbar {
        margin-bottom: 0;
        background: $black;
        color: $white
}

body {
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
        font-weight: bold;
}

p {
        font-size: 16px;
        color: $black;
}

a:visited {
        color: purple;
}

.jumbotron {
        background: #0048CD;
        color: white;
        text-align: center;
        p {
                color: $white;
                font-size: 26px;
        }
}

.link {
        color: blue;
}

.btn-primary {
        color: white;
        background-color: teal;
        border-color: $white;
}

.btn-info {
        color:white;
        background-color: #0dcaf0;
        border-color: black;
}

.btn-warning {
        color: white;
        background-color: orange;
        border-color: black;
}

.btn-success {
       color: white;
       background-color: green;
       border-color: black;
}

.btn-blue {
        color: white;
        background-color: blue;
        border-color: black; 
}

.btn-danger {
        color: white;
        background-color: red;
        border-color: black; 
}

.btn-lg {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 15px;
        margin-bottom: 5px;
}

.btn-sm {
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 10px;
        display: inline-block;
        border-color: $white;
}

img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}

caption {
        float: left;
        clear: both;
}

table, th, td{
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid;
        width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

td, th {
        border: 1px solid #ddd;
        padding: 8px;
}

th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: purple;
        color: white;
}

table, th, td{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  width: 100%;
}

tr:nth-child(even) {background-color: #6d6b6b;}
tr:hover {background-color: rgb(53, 50, 50);}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: white;
}

 /* Change the background color to black if the OS is on Dark Mode */ 
 //@mixin dark {
 //   body {
 //       background-color: #000 !important;
 //   }
//}

/* force the dark mode when OS interface is light */
//@media (prefers-color-scheme: light) {
  //  [data-color-mode="dark"] {
    //  @include dark;
    //}
//}

/* Follow the OS interface colors or force the dark theme */
//@media (prefers-color-scheme: dark) {
  //  [data-color-mode="auto"], [data-color-mode="dark"] {
    //  @include dark;
    //}
//}
