/* app/assets/stylesheets/application.scss */

body.dark-mode {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.card.dark-mode {
  background-color: #282828;
  color: #e6e6e6;
  border-color: #474747;
}

 /* Change the background color to black if the OS is on Dark Mode */ 
 //@mixin dark {
 //   body {
 //       background-color: #000 !important;
 //   }
//}

/* force the dark mode when OS interface is light */
//@media (prefers-color-scheme: light) {
  //  [data-color-mode="dark"] {
    //  @include dark;
    //}
//}

/* Follow the OS interface colors or force the dark theme */
//@media (prefers-color-scheme: dark) {
  //  [data-color-mode="auto"], [data-color-mode="dark"] {
    //  @include dark;
    //}
//}
