// Place all the styles related to the Pet_Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;

.navbar {
        margin-bottom: 0;
        background: $black;
        color: $white
}

body {
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
        font-weight: bold;
}

p {
        font-size: 16px;
        color: $black;
}

a:visited {
        color: purple;
}

.jumbotron {
        background: #0048CD;
        color: red;
        text-align: center;
        p {
                color: $white;
                font-size: 26px;
        }
}

.link {
        color: blue;
}

.btn-primary {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        color: white;
        background-color: teal;
        border-color: $white;
        margin-bottom: 5px;
}

.btn-sm {
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 5px;
        color: white;
        background-color: green;
        display: inline-block;
        border-color: $white;
}

img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}

caption {
        float: left;
        clear: both;
}

img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}

caption {

        float: left;
        clear: both;

}
